@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Merriweather:ital@1&family=Mukta&family=PT+Sans&family=Work+Sans&display=swap');

body {
    background-color: darkgray;
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;

}

header {
    text-align: center;

}

header h1 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    background-image: linear-gradient(90deg, white, black);
    color: black;
    font-size: 30px;
    font-weight: lighter;
}


#colors {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 0.5em;
    border-width: 0.75px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
}

#fonts {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 0.5em;
    border-width: 0.75px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 30px;
}


#text-styles {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 0.5em;
    border-width: 0.75px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin: 30px;
}

#fonts h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tomato {
    background-color: tomato;
}

#red {
    background-color: red;

}

#firebrick {
    background-color: firebrick;
}

#dark-red {
    background-color: darkred;
}

.color {
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5em;
    color: white;
    font-weight: lighter;
    font-size: 20px;
}    


#mukta {
    font-family: 'Mukta', sans-serif;
    list-style: none;

}

#kanit {
    font-family: 'Kanit', sans-serif;
    list-style: none;
}

#pt-sans {
    display: flex;
 
    font-family: 'PT Sans', sans-serif;
    list-style: none;

}


#text-styles {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


footer {
    padding: 1px;
    background-color: black;
    color: silver;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

@media only screen and (max-width: 1300px) {
    #colors {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .color {
        display: flex;
        width: 70%;

    }


}
